body {
    background-image:url(assets/imgs/hdwp.jpg);
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
    background-size: cover;
    text-align: center;
    color: white;

}

header hr{
    border: 1px solid rgb(248, 244, 244);
    top: 20px;
width: 80%;
}
header h1 {
color: white;
    text-align: center;
    position: relative;
     left: 35%;
    width: 30%;
}

nav { 
    background-color: rgba(29, 19, 88, 0.63);
    text-align: center;
    position: relative;
    left: 35%;
   width: 30%;
}
section h1{
    text-decoration: underline;
}
.card1 {
    background-color: rgba(38, 38, 117, 0.726);
    position: relative;
} 
p{ padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif

}
.card2{
   background-color: rgba(45, 45, 97, 0.788);
padding: 40px;
}
.card3{
    background-color: rgba(33, 33, 117, 0.822);
}

.card4{
    background-color: rgba(26, 26, 77, 0.774);
}
footer {
    background-color: black;
}