* {
    padding: 0;
    margin: 0;
}

button {
    background: red;
    height: 10vh;
    width: 10vw;
}

button:hover {
    background: blue;
    transition: background-color, width, 0.8s ease-in;
    height: 99ch;
    width: 100vw;
}