* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    display: flex
}


label {
    display: flex;
    align-items: center;
    visibility: hidden;
    transform: translateY(10px);
    transition: transform 1s ease;
}

input:focus+label {
    visibility: visible;
    transform: translateY(-0px);
}

button {
    background: blue;
    color: white;
    padding: 5px 15px;
}

.dflex {
    display: flex;
    justify-content: space-between;
}

.loader {
    width: 50px;
    animation: rotate 2s forwards infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(720deg);
    }
}