body {
    padding: 0;
    margin: 0;

}

.container {
    background-color: rgb(125, 105, 225);
    color: rgb(17, 12, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black;
    position: absolute;
    top: 30%;
    right: 41.5%;

}