body {
    font-family: sans-serif;
  }
  table {
    border-spacing: 0 2px;
  }
tr, th {
     padding : 10px;
}

tr:nth-child(even){
background-color: green;
}
tr:nth-child(odd){
    background:darkolivegreen
}
.table tr:first-child{
color: black;
}
.textWhite{
    color: white;
}