* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(226, 223, 223);
    height: 100vh;
    overflow: hidden;
}

/* Global */

.Contener {
    padding: 20px 30px;

}

.SpaceBetween {
    justify-content: space-between;
}

.Gap {
    gap: 30px;
}

.dFlex {
    display: flex;
}

.dGrid {
    display: grid;
}

.Fcolumn {
    flex-direction: column;
}

.boxshadow:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
}

.bgwhite {
    background-color: white;
}

.Cardb {
    display: flex;
    padding: 15px;
    width: 40px;
    height: 40px;
    transform: translateY(-40px);
    justify-content: center;
}

.cgreen {
    background-color: green;
}

.corange {
    background-color: orange;
}

.cpink {
    background-color: darkmagenta;
}

.cblue {
    background-color: skyblue;
}

.dgcolum1 {
    grid-template-columns: 1fr 1fr;
}



/* aside */

aside {
    background: url(./assets/images/sidebar-1.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
    color: white;
    overflow-y: scroll;
}

.asideimgs {
    margin: 5px;
    border-radius: 50px;
}

.dgcolum {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
}

.cartlist:hover {
    background-color: rgba(255, 255, 255, 0.6)
}

.cartlist0 {
    margin: 10px;
    background-color: red;
    border-radius: 5px;
}


/* Header */
.circle {
    display: flex;
    border-radius: 50px;
    height: 30px;

}

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.headerleft {
    display: flex;
    gap: 10px;
}

.HeaderRight {
    display: flex;
    gap: 15px;

}

.Notification {
    position: relative;
}

.Notifications {
    width: 250px;
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;
}


.Notification:hover .Notifications {
    display: block;
}

.Notifications p {
    border-radius: 5px;
    padding: 10px;

}

.Notifications {
    background: white;
}

.Notifications p:hover {
    background-color: red;
}

.Notificationp {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 20px;
    left: 15px;
    border: 2px solid rgb(226, 223, 223);
    width: 17px;
    height: 18px;
}

input {
    border: 2px;
    background-color: transparent;
    border-bottom: revert;
}

/* div */
.Scroll {
    overflow-y: scroll;
}

.Padding {
    padding: 10px 10px;
    margin: 50px 50px;
}

/* Main */

.Card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    padding: 10px;


}

.TopLocation {
    display: flex;
    margin: 15px;
}

.Grid {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 50px;
}

.imgp {
    width: 40px;

}

iframe {
    width: 50vw;
    height: 30vh;
}

.Padding3 {
    padding: 35px;
    gap: 40px;
}

.dgcolum3 {
    grid-template-columns: 1fr 1fr 1fr;
}