* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(226, 223, 223);
}

.boxshadow:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.45);
}

.bgwhite {
    background-color: white;
}

aside {
    padding: 10px 20px;
    background: url(./assets/images/sidebar-1.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
    color: white;
}

img {
    margin: 5px;
    border-radius: 50%;
}

.dgcolum {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
}

.cartlist:hover {
    background-color: rgba(255, 255, 255, 0.6)
}

.cartlist0 {
    margin: 10px;
    background-color: red;
    border-radius: 5px;
}


.circle {
    display: flex;
    border-radius: 50px;
    height: 30px;

}

.header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.headerleft {
    display: flex;
    gap: 10px;
}

.HeaderRight {
    display: flex;
    gap: 15px;

}

.Notification {
    position: relative;
}

.Notifications {
    width: 250px;
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;
}


.Notification:hover .Notifications {
    display: block;
}

.Notifications p {
    border-radius: 5px;
    padding: 10px;

}

.Notifications {
    background: white;
}

.Notifications p:hover {
    background-color: red;
}

.Notificationp {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 20px;
    left: 15px;
    border: 2px solid rgb(226, 223, 223);
    width: 17px;
    height: 18px;
}

input {
    border: 2px;
    background-color: transparent;
    border-bottom: revert;
}

.dFlex {
    display: flex;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    margin: 30px;
}

.Cardg {
    display: flex;
    background-color: green;
    padding: 30px;
    margin: -10px;
    width: 41px;
    height: 42px;
    transform: translateX(45px);
}

.TopLocation {
    display: flex;
    transform: translateX(70px);
    margin: 15px;
}

.Fcolumn {
    flex-direction: column;
}

.Grid {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 50px;
}

.imgp {
    width: 40px;

}

.SpaceBetween {
    justify-content: space-between;
}

.Gap {
    gap: 20px;
}

.dGrid {
    display: grid;
}

iframe {
    width: 50vw;
    height: 30vh;
}